@{
    ViewBag.Title = "Home Page";
}

<h2 class="text-center mt-5"><b><u>STAR INSURANCE</b></u></h2>
<div class="d-flex justify-content-center text-center">
<p class="lead">Star Insurance is a Insurance Company which provides 3 types of Insurance--- Home, Vehicle and Pet .  </p>

</div>



